-if object.respond_to?(:instagram)
  .form-group
    %label.col-sm-2.control-label
      Instagram
    .col-sm-10
      =f.text_field :instagram, class: 'form-control'
  .hr-line-dashed

-if object.respond_to?(:facebook)
  .form-group
    %label.col-sm-2.control-label
      Facebook
    .col-sm-10
      =f.text_field :facebook, class: 'form-control'
  .hr-line-dashed

-if object.respond_to?(:vkontakte)
  .form-group
    %label.col-sm-2.control-label
      Вконтакте
    .col-sm-10
      =f.text_field :vkontakte, class: 'form-control'
  .hr-line-dashed

-if object.respond_to?(:whatsapp)
  .form-group
    %label.col-sm-2.control-label
      WhatsApp (телефон)
    .col-sm-10
      =f.text_area :whatsapp, class: 'form-control'
  .hr-line-dashed

-if object.respond_to?(:address)
  .form-group
    %label.col-sm-2.control-label
      Адрес
    .col-sm-10
      =f.text_area :address, class: 'form-control'
  .hr-line-dashed