-if object.respond_to?(:service_category_id)
  .form-group
    %label.col-lg-2.control-label
      Категория услуги
    .col-lg-10
      =f.select :service_category_id, ServiceCategory.all.map { |post_category| [ post_category.title, post_category.id ] }, {}, { class: "form-control m-b" }
  .hr-line-dashed

-if object.respond_to?(:pictures)
  .form-group
    %label.col-sm-2.control-label
      Загрузить фото для галереи
    .col-sm-10
      .fileinput.fileinput-new.input-group{"data-provides" => "fileinput"}
        .form-control{"data-trigger" => "fileinput"}
          %i.glyphicon.glyphicon-file.fileinput-exists
          %span.fileinput-filename
        %span.input-group-addon.btn.btn-default.btn-file
          %span.fileinput-new
            Выбрать файл(ы)
          %span.fileinput-exists
            Поменять
          =f.file_field :pictures, multiple: true
          
        %a.input-group-addon.btn.btn-default.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"} Удалить
  .row  
    .col-sm-2
    .col-sm-10
      -if object.pictures.present?
        / -if object.logo.url(:mini_thumb).present?
        -object.pictures.each_with_index do |picture, index|
          =image_tag picture.thumb_mini.url
          / =link_to "Удалить", admin_post_image_path(object, index), :method => :delete, data: { confirm: "Точно удалить данное изображение?" }
      %span.help-block.m-b-none Для удаления фотографий просто перезалей их

  .hr-line-dashed